<%- include("header");-%>
    <h1>about test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni assumenda expedita earum consequatur dolor mollitia, quam nam!</p>
    <%- include("footer"); -%>